{% extends "layout.html" %}
{% block content %}
{% block head %}
<style type="text/css">
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
#div bar {
    padding: 70px;
    border: 1px solid #1b3a09;
}
#datatable {
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
}

#datatable td, #datatable th {
  border: 1px solid #ddd;
  padding: 8px;
}
#datatable tr:nth-child(even){background-color: #f2f2f2;}

#datatable tr:hover {background-color: #ddd;}

#datable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;

}
</style>
{% endblock %}
<h1></h1>
<p>'</p>
<h1>'</h1>
<center>
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Enter Field</button>
</center>
<div id="id01" class="modal">
  
  <form class="modal-content animate" method="post" action="/post_data">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/static/images/sorghum.png" height="50" width="100" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="hybrid"><b>Hybrid</b></label>
      <input type="text" placeholder="Enter Hybrid" name="hybrid" required>

      <label for="grower"><b>Grower</b></label>
      <input type="text" placeholder="Enter Grower Name" name="grower" required>
      
      <label for="field_name"><b>Field Name</b></label>
      <input type="text" placeholder="Enter Field Name" name="field_name" required>

      <label for="certification"><b>Certified</b></label>
      <input type="text" placeholder="Certification? 'Y', 'N'" name="certified" required>
      
      <label for="field_number"><b>Field Number</b></label>
      <input type="text" placeholder="Enter Field Number" name="field_number" required>

      <label for="area"><b>Growing Area</b></label>
      <input type="text" placeholder="Enter Growing Area" name="area" required>
      
      <label for="cont_gross_acres"><b>Cont Gross Acres</b></label>
      <input type="text" placeholder="Enter Gross Acres" name="cont_gross_acres" required>

      <label for="percent_target"><b>Percent of Target</b></label>
      <input type="text" placeholder="Percent of Target" name="percent_target" required>

      <label for="female_plant_population"><b>Female Plant Population</b></label>
      <input type="text" placeholder="Enter Female Population" name="female_plant_population" required>
      
      <label for="hybrid_code"><b>Hybrid Code</b></label>
      <input type="text" placeholder="Enter Hybrid Code" name="hybrid_code" required>

      <label for="material_group"><b>Material Group</b></label>
      <input type="text" placeholder="Enter Material Group" name="material_group" required>

      <button type="submit">Submit</button>
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>

<div id="dataDiv" name="datadiv" title="datatable">
<center>
    <h2>Current Plan in Database</h2>
    <table id="datatable">
        <th>
            <tr style="color: #1b3a09; ">
            <td align="center">ID</td>
            <td align="center">Hybrid</td>
            <td align="center">Grower</td>
            <td align="center">Field Name</td>
            <td align="center">Certified</td>
            <td align="center">Field Number</td>
            <td align="center">Growing Area</td>
            <td align="center">Cont Gross Acres</td>
            <td align="center">Percent of Target</td>
            <td align="center">Female Population</td>
            <td align="center">Hybrid Code</td>
            <td align="center">Material Group</td>
        </tr>
        </th>
    {% for data in dataPlan%}
    <tr>      
    <td align="center">{{ data.id }}</td>
    <td align="center">{{ data.hybrid }}</td> 
    <td align="center">{{ data.grower }}</td>
    <td align="center">{{ data.field_name }}</td>
    <td align="center">{{ data.certified }}</td>
    <td align="center">{{ data.field_number }}</td>
    <td align="center">{{ data.area }}</td>
    <td align="center">{{ data.cont_gross_acres }}</td>
    <td align="center">{{ data.percent_target }}</td>
    <td align="center">{{ data.female_plant_population }}</td>
    <td align="center">{{ data.hybrid_code }}</td>
    <td align="center">{{ data.material_group }}</td>
    <td>
      <form action="/delete" method="post">
        <input type="hidden" name="method" value="DELETE">
        <input type="submit" value="Delete" class="btn btn-danger">
      </form>

     {% endfor %}
    </tr>
    </table>
    </center>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

{% endblock content %}
