{% extends "layout.html" %}
{% block content %}
{% block head %}
<style type="text/css">

div dataDiv {
    padding: 70px;
    border: 1px solid #1b3a09;
}
#datatable {
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
}

#datatable td, #datatable th {
  border: 1px solid #ddd;
  padding: 8px;
}
#datatable tr:nth-child(even){background-color: #f2f2f2;}

#datatable tr:hover {background-color: #ddd;}

#datable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;

}
</style>
{% endblock %}
<h1></h1>
<p>'</p>
<center>
<h1>Production Field Acreage Planning</h1>
<h4> Enter information for each hybrid then click next</h4></center>

<div class="form-group">
<form id="planningForm" method="post" action="/post_data">

      <label for="hybrid">Hybrid</label>
      <input type="text" class="form-control" id="hybrid" name="hybrid" placeholder="Hybrid"/>

      <label for="grower">Grower Name</label>
      <input type="text" class="form-control" id="grower" name="grower" placeholder="Ex. 'Frische Farms', 'Lone Star Family Farms'">

      <label for="field_form">Field Name</label>
      <input type="text" class="form-control" id="field_name" name="field_name"  placeholder="Ex. 'Mammas'">

      <label for="field_form">Certification</label>
      <input type="text" class="form-control" id="certified" name="certified" placeholder="Y or N">

      <label for="field_form">Field Number</label>
      <input type="text" class="form-control" id="field_number" name="field_number" placeholder="Ex '501'">

      <label for="field_form">Growing Area</label>
      <input type="text" class="form-control" id="area" name="area" placeholder="Ex. '4, 5, 7, 8'">

      <label for="field_form">Cont Gross Acres</label>
      <input type="text" class="form-control" id="cont_gross_acres" name="cont_gross_acres" placeholder="Have no clue what this is">

      <label for="field_form">Percent of Target</label>
      <input type="text" class="form-control" id="percent_target" name="percent_target" placeholder="Most likely 100%">

      <label for="field_form">Female Population</label>
      <input type="text" class="form-control" id="female_plant_population" name="female_plant_population" placeholder="Probably 80000">

      <label for="field_form">Hybrid Code</label>
      <input type="text" class="form-control" id="hybrid_code" name="hybrid_code" placeholder="Fantasy code">

      <label for="field_form">Material Group</label>
      <input type="text" class="form-control" id="material_group" name="material_group" placeholder="Ex. '020'">

      <input type='submit' onclick="alertSaved()" value='SAVE. Enter Hybrid' />
      </form>
</div>

<script>
    function alertSaved() {
        alert("Data has been saved");
    }
    </script>

<h1></h1>
<p></p>
<div id="dataDiv" name="datadiv" title="datatable">
<center>
    <h2>Current Plan in Database</h2>
    <table id="datatable">
        <th>
            <tr style="color: #1b3a09; ">
            <td align="center">ID</td>
            <td align="center">Hybrid</td>
            <td align="center">Grower</td>
            <td align="center">Field Name</td>
            <td align="center">Certified</td>
            <td align="center">Field Number</td>
            <td align="center">Growing Area</td>
            <td align="center">Cont Gross Acres</td>
            <td align="center">Percent of Target</td>
            <td align="center">Female Population</td>
            <td align="center">Hybrid Code</td>
            <td align="center">Material Group</td>
        </tr>
        </th>
    {% for data in dataPlan%}
    <tr>      
    <td align="center">{{ data.id }}</td>
    <td align="center">{{ data.hybrid }}</td> 
    <td align="center">{{ data.grower }}</td>
    <td align="center">{{ data.field_name }}</td>
    <td align="center">{{ data.certified }}</td>
    <td align="center">{{ data.field_number }}</td>
    <td align="center">{{ data.area }}</td>
    <td align="center">{{ data.cont_gross_acres }}</td>
    <td align="center">{{ data.percent_target }}</td>
    <td align="center">{{ data.female_plant_population }}</td>
    <td align="center">{{ data.hybrid_code }}</td>
    <td align="center">{{ data.material_group }}</td>

    {% endfor %}
    </tr>
    </table>
    </center>
</div>

{% endblock content %}
